.home {
  background-color: #0f172a;
  min-height: 100vh;
  padding: 30px 50px;
}

.home h1 {
  color: white;
  margin-bottom: 25px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}
.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-box input {
  width: 350px;
  padding: 12px 15px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

.search-box button {
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  background-color: #e50914;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #b20710;
}