.navbar {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 6%;
  box-sizing: border-box;

  background: white;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #219ebc;
  white-space: nowrap;
}

.logo span {
  color: #222;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #877d7d;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #141313;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}

.login {
  text-decoration: none;
  color: #444;
  font-size: 17px;
}

.signup {
  text-decoration: none;
  background: #219ebc;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
}